doctype html
html
	body
		meta(charset="utf-8")
		block content
		// Your Style
		// Define the style of your presentation
		// Maybe a font from http://www.google.com/webfonts ?
		link(href="http://fonts.googleapis.com/css?family=Oswald", rel="stylesheet")
		style
			include custom.css
		#progress-bar
		// Default Style
		style
			include default.css
		script
			include script.js

